h1 a {
  color: #133855 !important;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

body {
color:#222;
font-family:'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight:300;
font-size:17px;
line-height:1.5em;
padding:0 10px;
}

ol,ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

section,header,footer,nav,article,aside,figure {
display:block;
width:100%;
}

mark,time,meter,progress {
display:inline;
}

html {
-webkit-font-smoothing:antialiased;
}

input {
line-height:1em;
}

a {
color:#0881b3;
text-decoration:none;
border-bottom:1px solid transparent;
-webkit-transition-property:color;
-moz-transition-property:color;
-ms-transition-property:color;
-o-transition-property:color;
transition-property:color;
-webkit-transition-duration:.2s;
-moz-transition-duration:.2s;
-ms-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
}

a:hover {
border-bottom:1px solid;
}

em {
background-color:#fffeca;
padding:0 .1em;
}

abbr {
border-bottom:1px dashed;
cursor:help;
}

p {
margin:0 0 1em;
}

hr {
border:0;
border-bottom:1px solid #ddd;
width:60%;
margin:0 auto 2em;
}

blockquote {
border-left:5px solid #ddd;
color:#888;
padding-left:1em;
margin:0 0 1em;
}

small {
font-size:.8em;
color:#999;
margin-left:.2em;
}

small a:hover {
color:#2e80d3;
}

pre {
background-color:#f8f8ff;
border:1px solid #dedede;
color:#444;
font-family:Monaco,Courier,monospace;
font-size:13px;
overflow:auto;
margin:0 0 2em;
padding:.5em;
}

pre code {
background-color:#f8f8ff;
border:medium none;
font-size:1em;
padding:0;
}

code {
background-color:#f8f8ff;
border:1px solid #dedede;
color:#444;
font-family:Monaco,Courier,monospace;
font-size:.8em;
padding:0 .2em;
}

h1 {
color:#000;
font-size:2.5em;
font-weight:700;
margin-bottom:.25em;
}

body>header h1 a,body>header h1 a:hover {
color:#f6291d;
border:0;
}

h2 {
font-size:1.3em;
margin-bottom:.2em;
font-weight:700;
}

h2 a {
color:#222;
border:0;
}

h3 {
font-size:1em;
font-weight:700;
}

h4 {
color:#999;
font-weight:700;
margin-bottom:.2em;
}

body>header,body>section,body>footer {
max-width:640px;
margin:0 auto;
}

body>header {
color:#a5a5a5;
margin:5em auto 4em;
}

body>header p {
margin:0;
}

body>header a {
color:#73acd6;
}

a.hire,a.hire:hover {
color:#f6291d;
}

body>footer {
color:#aaa;
text-shadow:#fff 0 1px 0;
font-size:.8em;
text-align:center;
margin:3em auto;
}

nav.pagination {
text-align:center;
margin:0 0 2em;
}

nav.pagination a {
margin-right:.2em;
text-decoration:none;
border:0;
padding:2px 6px;
}

nav.pagination a:hover {
text-decoration:none;
background:#0881b3;
color:#FFF;
text-shadow:none;
border-color:#0881b3;
}

nav.pagination a[rel=next]:hover,nav.pagination a[rel=prev]:hover {
background:none;
text-decoration:underline;
color:#0881b3;
}

nav.pagination span {
margin-right:.2em;
padding:2px 6px;
}

nav.pagination span.gap {
color:#676767;
padding:2px;
}

nav.pagination em {
padding:4px 8px;
}

.highlight {
background:#fff;
}

.highlight .cp {
color:#999;
font-weight:700;
}

.highlight .cs {
color:#999;
font-weight:700;
font-style:italic;
}

.highlight .gd {
color:#000;
background-color:#fdd;
}

.highlight .gd .x {
color:#000;
background-color:#faa;
}

.highlight .gr,.highlight .gt {
color:#a00;
}

.highlight .gh,.highlight .bp {
color:#999;
}

.highlight .gi {
color:#000;
background-color:#dfd;
}

.highlight .gi .x {
color:#000;
background-color:#afa;
}

.highlight .go {
color:#888;
}

.highlight .gp,.highlight .nn {
color:#555;
}

.highlight .nb {
color:#0086b3;
}

.highlight .ni {
color:purple;
}

.highlight .ne,.highlight .nf {
color:#900;
font-weight:700;
}

.highlight .nt {
color:navy;
}

.highlight .w {
color:#bbb;
}

.highlight .sr {
color:#009926;
}

.highlight .ss {
color:#990073;
}

.highlight .na,.highlight .no,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi {
color:teal;
}

a#portrait {
display:block;
border:5px solid #fff;
-webkit-box-shadow:rgba(0,0,0,0.5) 0 0 3px;
-moz-box-shadow:rgba(0,0,0,0.5) 0 0 3px;
box-shadow:rgba(0,0,0,0.5) 0 0 3px;
background:#fff no-repeat;
float:left;
width:300px;
height:300px;
margin:.5em 1em .5em 0;
}

a#portrait img {
width:300px;
height:300px;
}

div#ZE-widget {
width:302px;
margin:2em auto 0;
}

section article {
margin-bottom:6em;
}

section article header p {
color:#949494;
font-size:.9em;
margin-bottom:.25em;
}

section article header p a {
color:#949494;
border:0;
}

section article ul li,section article ol li {
margin-left:1em;
}

section article ul li {
list-style:disc;
}

section article ol li {
list-style:decimal;
}

section article ol li ol li {
list-style:lower-alpha;
}

section article div.video {
background:#fff;
text-align:center;
margin-bottom:1em;
max-width:100%;
height:0;
-webkit-box-shadow:rgba(0,0,0,0.7) 0 0 6px;
-moz-box-shadow:rgba(0,0,0,0.7) 0 0 6px;
box-shadow:rgba(0,0,0,0.7) 0 0 6px;
overflow:hidden;
padding-top:75%;
position:relative;
}

section article div.video.wide.youtube {
padding-top:58.125%;
}

section article div.video.wide.vimeo {
padding-top:56.25%;
}

section article div.vimeo iframe {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
}

section article img {
max-width:100%;
}

section article a.bordered-image {
float:left;
margin:.25em .5em .5em 0;
}

section article a.image-left {
float:left;
margin:0 1em 1em 0;
}

section article a.image-right {
float:right;
margin:0 0 1em 1em;
}

div.social {
zoom:1;
overflow:hidden;
margin:-4em 0 1em;
}

nav.posts {
zoom:1;
margin:1em 0 0;
}

nav.posts li {
display:block;
width:44%;
}

nav.posts li.next {
float:right;
text-align:right;
}

div.gist div.gist-file div.gist-meta {
font-size:.6em;
line-height:1em;
padding:.5em;
}

a.tag {
word-wrap:nowrap;
}

a.tag:before {
content:"#";
}

div.tags {
text-align:center;
margin-bottom:3em;
}

div.tags a {
text-shadow:none;
word-wrap:nowrap;
line-height:1.5em;
margin:5px;
}

div.tags .nube1 {
font-size:1em;
}

div.tags .nube2 {
font-size:1.2em;
}

div.tags .nube3 {
font-size:1.4em;
}

div.tags .nube4 {
font-size:1.6em;
}

div.tags .nube5 {
font-size:1.8em;
}

div.tags .nube6 {
font-size:2em;
}

div.current-project {
margin-bottom:4em;
}

div.latest-post h3 a {
font-size:18px;
color:#777;
}

section.music ul.tracks li {
margin-left:1em;
list-style:disc;
}

section.music ul.tracks li a {
font-size:.8em;
margin-left:6px;
}

div.soundcloud-player {
-webkit-box-shadow:0 0 2px rgba(0,0,0,0.2);
-moz-box-shadow:0 0 2px rgba(0,0,0,0.2);
box-shadow:0 0 2px rgba(0,0,0,0.2);
background:url(http://assets.samsoff.es/images/dots-white.gif) #fff no-repeat center;
width:235px;
height:91px;
margin:.1em 0 .5em;
}

div.soundcloud-player>div:first-child {
padding:5px;
}

div.soundcloud-player div.waveform {
display:none;
}

div.soundcloud-player div.playing div.waveform {
display:block;
background:#e5e5e5;
width:225px;
height:81px;
border:1px solid #ddd;
position:relative;
}

div.soundcloud-player div.playing div.waveform img {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:3;
}

div.soundcloud-player div.playing div.waveform div.position,div.soundcloud-player div.playing div.waveform div.loading {
position:absolute;
top:0;
left:0;
height:81px;
background:#999;
}

div.soundcloud-player div.playing div.waveform div.position {
background:#000;
}

section.projects {
padding-top:1em;
}

section.projects ul li {
list-style:disc;
margin:0 0 .25em 1em;
}

section.projects p {
text-align:center;
}

div.row {
zoom:1;
}

div.row>div {
-webkit-box-shadow:rgba(0,0,0,0.5) 0 0 3px;
-moz-box-shadow:rgba(0,0,0,0.5) 0 0 3px;
box-shadow:rgba(0,0,0,0.5) 0 0 3px;
width:300px;
height:200px;
margin:0 0 2em;
}

div.row-wide {
-webkit-box-shadow:rgba(0,0,0,0.5) 0 0 3px;
-moz-box-shadow:rgba(0,0,0,0.5) 0 0 3px;
box-shadow:rgba(0,0,0,0.5) 0 0 3px;
width:100%;
height:200px;
position:relative;
margin:0 auto 40px;
}

div.row-wide a.title {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
display:block;
width:300px;
height:200px;
border:0;
}

div.row-wide a.screenshot {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
position:absolute;
bottom:0;
right:0;
width:340px;
height:200px;
border:0;
padding:0;
}

div#project-cheddar {
background:#ff7243;
}

div#project-cheddar a.title {
background:url(http://assets.samsoff.es/projects/cheddar-title.png) no-repeat 50% 50%;
background-size:221px 72px;
}

div#project-cheddar a.screenshot {
background:url(http://assets.samsoff.es/projects/cheddar-screenshot.png) no-repeat 25px 1px;
background-size:299px 199px;
}

div#project-shares {
background:#1d1d1d;
}

div#project-shares a.title {
background:url(http://assets.samsoff.es/projects/shares-title.png) no-repeat 50% 56%;
background-size:186px 90px;
}

div#project-shares a.screenshot {
background:url(http://assets.samsoff.es/projects/shares-icon.png) no-repeat 40px 26px;
background-size:258px 174px;
}

div#project-sstoolkit a {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
display:block;
width:300px;
height:200px;
background:url(http://assets.samsoff.es/projects/sstoolkit.png) no-repeat;
background-size:300px 200px;
border:0;
}

div#project-nothing-magical a {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
display:block;
width:300px;
height:200px;
background:url(http://assets.samsoff.es/projects/nothing-magical.png) no-repeat;
background-size:300px 200px;
border:0;
}

div#project-awful-recruiters a {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
display:block;
width:300px;
height:200px;
font-size:52px;
font-weight:700;
color:#000;
background:#fcfcfc;
border:0;
padding:45px 20px 0;
}

div#project-awful-recruiters a span {
display:block;
line-height:52px;
}

div#project-markdownr a {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
display:block;
width:300px;
height:200px;
background:url(http://assets.samsoff.es/projects/markdownr.png) no-repeat;
background-size:300px 200px;
border:0;
}

.bordered-image {
display:block;
border:5px solid #fff;
-webkit-box-shadow:rgba(0,0,0,0.5) 0 0 3px;
-moz-box-shadow:rgba(0,0,0,0.5) 0 0 3px;
box-shadow:rgba(0,0,0,0.5) 0 0 3px;
background:#fff no-repeat;
}

a.twitter-username:before {
content:"@";
}

section.server-error {
margin-bottom:3em;
}

span.gray {
color:#777;
}

strong,.highlight .k,.highlight .o,.highlight .kc,.highlight .kd,.highlight .kp,.highlight .kr,.highlight .gs,.highlight .ow {
font-weight:700;
}

i,.highlight .ge {
font-style:italic;
}

blockquote a,small a {
color:#444;
}

blockquote a:hover,body>header a:hover,body>footer a:hover {
color:#0881b3;
}

body>footer a,nav.pagination span.disabled,.highlight .gu {
color:#aaa;
}

.highlight .c,.highlight .cm,.highlight .c1 {
color:#998;
font-style:italic;
}

.highlight .kt,.highlight .nc {
color:#458;
font-weight:700;
}

.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il {
color:#099;
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1 {
color:#d14;
}

a#portrait:hover,.bordered-image:hover {
-webkit-box-shadow:#000 0 0 3px;
-moz-box-shadow:#000 0 0 3px;
box-shadow:#000 0 0 3px;
}

section article ul,section article ol,section.projects ul {
margin:0 0 2em .5em;
}

div.social:before,div.social:after,nav.posts:before,nav.posts:after,div.row:before,div.row:after {
content:"";
display:table;
}

div.social:after,nav.posts:after,div.row:after {
clear:both;
}

div.social iframe.twitter-follow-button,div.row>div:last-child {
float:right;
}

nav.posts li.previous,div.row>div:first-child {
float:left;
}

div.current-project div.row-wide,section.music,section.music ul.tracks {
margin-bottom:1em;
}

@media all and max-width 660px{
body>header {
margin:3em auto;
}

nav.pagination a,nav.pagination span.gap {
display:none;
margin:0;
}

nav.pagination a.prev,nav.pagination a.next {
display:inline;
}

a#portrait {
border-width:0;
}

nav.posts ul {
margin-bottom:0;
}

nav.posts li.previous,nav.posts li.next {
text-align:center;
float:none;
width:100%;
}

div.row>div {
float:none!important;
margin:0 auto 2em;
}

div.row-wide {
margin-bottom:1em;
width:300px;
}

div.row-wide a.screenshot {
display:none;
}

nav.posts li.previous,div.row {
margin-bottom:1em;
}
}

@media only screen and -webkit-min-device-pixel-ratio 15,only screen and -o-min-device-pixel-ratio 32,only screen and min--moz-device-pixel-ratio 15,only screen and min-device-pixel-ratio 15{
div#project-cheddar a.title {
background-image:url(http://assets.samsoff.es/projects/cheddar-title@2x.png);
}

div#project-cheddar a.screenshot {
background-image:url(http://assets.samsoff.es/projects/cheddar-screenshot@2x.png);
}

div#project-shares a.title {
background-image:url(http://assets.samsoff.es/projects/shares-title@2x.png);
}

div#project-shares a.screenshot {
background-image:url(http://assets.samsoff.es/projects/shares-icon@2x.png);
}

div#project-sstoolkit a {
background-image:url(http://assets.samsoff.es/projects/sstoolkit@2x.png);
}

div#project-nothing-magical a {
background-image:url(http://assets.samsoff.es/projects/nothing-magical@2x.png);
}

div#project-markdownr a {
background-image:url(http://assets.samsoff.es/projects/markdownr@2x.png);
}
}